<!DOCTYPE html>
<html lang="en">
<head>
<title>About Ralda Learners</title>
<link rel="stylesheet" href="RaldaLearnersHOME.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: montserrat, Helvetica, sans-serif;
}
</style>
</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">RALDA LEARNERS</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/login">What To Learn</a></li>
    <li><a href="/signup">Sign-Up</a></li>
  </ul>
  </div>

</div>
<h1>Welcome to the About Page</h1>

</body>
</html>