<!DOCTYPE html>
<html lang="en">
<head>
<title>Ralda Learners- What To Learn</title>
<link rel="stylesheet" href="learn.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: montserrat, Helvetica, sans-serif;
}
</style>
</head>
<body>

<div class="header">
  <a href="/" class="logo">RALDA LEARNERS</a>
  <div class="header-right">
    <a href="/home">Home</a>
  </div>
</div>

<div class="whattolearn">
  <div class="content">
    <h1>WHAT TO LEARN</h1>
  <p>Find a video tutorial that best fits your knowledge need, Learn Agriculture, gain useful knowledge from experienced professionals in the agricultural fields for free and begin your adventure into the amazing world of sustainanble agriculture.</p>
  </div>
</div>

<div class="videocontainer">
  <div class="videotext">
  <a href="https://www.youtube.com/embed/Mqi1uVKDoTY" style="text-decoration-line: none; color: rgba(0,0,0,1); font-size: 18px; font-style: bold;">Organic Farming for Sustainable Agricultural Production</a>
  <p>Learning sustaibable agricultural practices with NPTEL's tutorial on organic farming, covering topics from composts production to organic certification process.</p>
  </div>
  <div class="videoFrame">
  <iframe width="250" height="120"
  src="https://www.youtube.com/embed/Mqi1uVKDoTY">
  </iframe>
  </div>
  </div>


<div class="footer">
  <div class="footer-text">
  <p>© RALDERS LEARNERS 2024</p>
</div>
</div>

</body>
</html>